:host {
    display: block;
    margin: auto;
    font-weight: bold;
}

mat-icon {
    padding-top: 8px;
    width: 36px;
    height: 36px;
}

.period {
    top: -10px;
    position: relative;
}