<div class="layout-menu">
  <div class="menu">

    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="loadingRoute"></mat-progress-bar>
    </div>

    <button mat-button menuItem name="dashboard" (selected)='select($event)' routerLink="dashboard">
      <mat-icon svgIcon="home"></mat-icon>
      <div>Dashboard</div>
    </button>
    <button mat-button menuItem name="records" (selected)='select($event)' routerLink="records">
      <mat-icon svgIcon="list"></mat-icon>
      <div>Records</div>
    </button>
    <button mat-button menuItem name="settings" (selected)='select($event)' routerLink="settings">
      <mat-icon svgIcon="settings"></mat-icon>
      <div>Settings</div>
    </button>
  </div>
</div>

<div class="layout-content">
  <ng-content></ng-content>
</div>
