mat-card.form {
  margin: 10px;
}

mat-card-header.mat-card-header {
  margin: -4px 0 0 -8px !important;
}

mat-card-title.mat-card-title {
  font-size: 20px !important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
