@import './../../../../theme.scss';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

main {
  position: relative;
  padding: 10px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.search {
  flex: 0;
  padding: 5px 20px 0 20px;
  background-color: $secondary-background-color;
}

mat-form-field {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
