<mat-tab-group>

  <mat-tab label="Categories">
    <categories [cashflowCategories$]="cashflowCategories$"></categories>
  </mat-tab>

  <mat-tab label="Budgets">
    <h1>Define your budget goals</h1>
  </mat-tab>

</mat-tab-group>
