@import './../../../../theme';

.progress-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.progress-bar-container {
    width: 100%;
    background-color: #c6c6c6;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: $primary-color;
    border-radius: 4px;
}

.icon-container{
    display: inline-block;
    width: 40px;
}

.category-name {
    text-align: left;
}

.money-spent {
    float: left;
    margin-left: 5px;
    color: white;
}

.money-left {
    font-style: italic;
    float: right;
}

.today {
    position: absolute;
    top: 21px;
    background-color: #777777;
    width: 2px;
    height: 20px;
}
