<mat-toolbar color="primary">
  <span>Budget</span>
  <period-selector></period-selector>
</mat-toolbar>

<main>
  <summary
    [budgetSummary]="budgetSummary"
    [cashflowSummary]="cashflowSummary">
  </summary>

  <div class="grid">
    <mat-card class="budgets-card">
      <mat-card-header>
        <mat-card-title>Budgets by category</mat-card-title>
      </mat-card-header>

      <mat-progress-spinner *ngIf="!budgetsLoaded" mode="indeterminate"></mat-progress-spinner>

      <budget-progress *ngFor="let budget of budgets" [budget]="budget"></budget-progress>
    </mat-card>

    <mat-card class="charts-card">
      <mat-card-header>
        <mat-card-title>Charts</mat-card-title>
      </mat-card-header>
      Charts
    </mat-card>
  </div>

</main>
